div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#status {
  font-size: 14px;
}

.fas-facebook {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field {
  width: 60%;
  margin: 0 auto;
}

.box {
  width: 100%;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  background-color: transparent !important;
}

table {
  border-collapse: collapse;
  border-radius: 30px;
  overflow: hidden;
}

html {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.notification {
  border-radius: 45px;
  /* background: #004FF9;
  background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
  background: linear-gradient(to right, #FFF94C, #004FF9);
  font-family: Arial, Helvetica, sans-serif;
  position: relative; */
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

body {
  color: #363636;
  font-size: 20px !important;
  font-weight: 600;
  line-height: 1.125;
}

.notification:after,
.notification:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.notification:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.notification:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

html {
  /* background: #004FF9; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #FFF94C, #004FF9); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #FFF94C, #004FF9); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* font-family: Arial, Helvetica, sans-serif; */
}

#red {
  font-color: red;
  color: red;
}

.notification {
  margin-bottom: 90px;
}

.control {
  width: 270px;
}